'.text.html.vue, .js':
  'Vue Component':
    'prefix': 'component'
    'description': 'This snippet generates the basic structure for a Vue JS Component'
    'body': """
      <template>
        //You component contents goes here
      </template>

      <script>

      export default {
      	name: "ComponentName",
      	data(){
      		return {
      			//Component Data
            example: true,
            foo: "bar"
      		}
      	},

      	created(){
      		//On Component created
      	},

      	methods: {
      		functionExample(){
            //Basic Component method
      		}
      	}
      }
      </script>
    """
  'Vue Validator':
    'prefix': 'validator'
    'description': 'This snippet generates a validator function to Vue Validator'
    'body': """
    Vue.validator("validatorName", function (val) {
    	return true
    });
    """
  'Vue Validator Local':
    'prefix': 'validators'
    'description': 'This snippet generates a local validator function'
    'body': """
    validators: {
      nameOfValidator: function (val) {
        return true
      }
    };
    """
  'Vue Router Map':
    'prefix': 'map'
    'description': 'This snippet generates a Vue Router map function'
    'body': """
    router.map({
    	'/example': {
    		component: Example,
    		subRoutes:{
    			'/subrouter': {
    				component: SubRouter
    			}
    		}
    	}
    })
    """
